<!DOCTYPE html>
<html>
    <head>
        <title>Muro</title>
    </head>

    <body>
        <h2>Muro público</h2>

        <form action="/posts/create" method="POST">
            <textarea name="content" placeholder="Escribe un mensaje"></textarea>
            <br><br>
            <button type="submit">Publicar</button>
        </form>

        <hr>

            <div id="posts"></div>

            <script>
                fetch("/posts/all")
                .then(res => res.json())
                .then(data => {
                    const container = document.getElementById("posts")
                    data.forEach(post => {

                        const div = document.createElement("div")
                        div.innerHTML = `
                        <b>${post.username}</b>:
                        ${post.content}
                        <hr>
                        `
                        container.appendChild(div)
                    })
                })
            </script>
    </body>
</html>